nifi-netflow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>7edfdf19-0169-1000-77f7-dbd163a3d1c8</groupId>
    <name>nifi-netflow</name>
    <snippet>
        <connections>
            <id>5225c723-2523-34eb-0000-000000000000</id>
            <parentGroupId>b4d64b0b-ce75-39c6-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>b4d64b0b-ce75-39c6-0000-000000000000</groupId>
                <id>15825afa-4b50-31e8-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>b4d64b0b-ce75-39c6-0000-000000000000</groupId>
                <id>90960011-b3b8-3039-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>a4155a58-8989-3f28-0000-000000000000</id>
            <parentGroupId>b4d64b0b-ce75-39c6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>d95a9bb1-27e9-398d-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>ixia</value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>d95a9bb1-27e9-398d-0000-000000000000</id>
            <parentGroupId>b4d64b0b-ce75-39c6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>
                        <name>avro-reg-validated-field-names</name>
                    </value>
                </entry>
                <entry>
                    <key>ixia</key>
                    <value>
                        <name>ixia</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroSchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>ixia</key>
                    <value>{
   "type" : "record",
   "namespace" : "poc",
   "name" : "ixia",
   "fields" : [
        {"name":"timedata","type":"long"},
       {"name":"timestamp","type":"long"},
      {"name":"octetDeltaCount","type": "int"},
      {"name":"sourceIPv4Address","type": "string"},
    {"name":"sourceTransportPort","type": "int"},
       {"name":"destinationIPv4Address","type": "string"},   
        {"name":"destinationTransportPort","type": "int"},     
          {"name":"packetDeltaCount","type": "int"},  
          {"name":"protocolIdentifier","type": "int"},  
          {"name":"tcpControlBits","type": "int"},  
        {"name":"ingressInterface","type": "int"},  
        {"name":"egressInterface","type": "int"},  
         {"name":"bgpSourceAsNumber","type": "int"},  
          {"name":"bgpDestinationAsNumber","type": "int"}, 
          {"name":"icmpTypeCodeIPv4","type": "int"}, 
          {"name":"icmpTypeCodeIPv4_29305","type": "int"}, 
         {"name":"flowEndReason","type": "int"}, 
         {"name":"flowStartMilliseconds","type": "long"}, 
          {"name":"flowEndMilliseconds","type": "long"}, 
          {"name":"icmpTypeIPv4_3054","type": "int"}, 
          {"name":"tcpSequenceNumber_3054","type": "string"}, 
         {"name":"ipHeaderLength_3054","type": "string"}, 
         {"name":"totalLengthIPv4_3054","type": "string"}
         ]
}
</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>4ac6891f-d626-3642-0000-000000000000</id>
            <parentGroupId>b4d64b0b-ce75-39c6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-netflow-nar</artifact>
                <group>com.simonellistonball.nifi.processors</group>
                <version>0.0.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>netflow-version</key>
                    <value>
                        <name>netflow-version</name>
                    </value>
                </entry>
            </descriptors>
            <name>NetflowReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>netflow-version</key>
                    <value>ipfix</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.netflow.NetflowReader</type>
        </controllerServices>
        <processors>
            <id>90960011-b3b8-3039-0000-000000000000</id>
            <parentGroupId>b4d64b0b-ce75-39c6-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Local Network Interface</key>
                        <value>
                            <name>Local Network Interface</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>
                            <name>Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Receive Buffer Size</key>
                        <value>
                            <name>Receive Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Size of Message Queue</key>
                        <value>
                            <name>Max Size of Message Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Size of Socket Buffer</key>
                        <value>
                            <name>Max Size of Socket Buffer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>poll-timeout</key>
                        <value>
                            <name>poll-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>batch-size</key>
                        <value>
                            <name>batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sending-host</key>
                        <value>
                            <name>sending-host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sending-host-port</key>
                        <value>
                            <name>sending-host-port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Local Network Interface</key>
                        <value>ens3</value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>4739</value>
                    </entry>
                    <entry>
                        <key>Receive Buffer Size</key>
                        <value>10 MB</value>
                    </entry>
                    <entry>
                        <key>Max Size of Message Queue</key>
                        <value>1000000000</value>
                    </entry>
                    <entry>
                        <key>Max Size of Socket Buffer</key>
                        <value>10 MB</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>poll-timeout</key>
                        <value>50 ms</value>
                    </entry>
                    <entry>
                        <key>batch-size</key>
                        <value>1000</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>4ac6891f-d626-3642-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>a4155a58-8989-3f28-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>sending-host</key>
                    </entry>
                    <entry>
                        <key>sending-host-port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>ListenUDPRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>parse.failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ListenUDPRecord</type>
        </processors>
        <processors>
            <id>15825afa-4b50-31e8-0000-000000000000</id>
            <parentGroupId>b4d64b0b-ce75-39c6-0000-000000000000</parentGroupId>
            <position>
                <x>570.0</x>
                <y>92.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/home/ubuntu/fail</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
    </snippet>
    <timestamp>03/19/2019 11:51:10 UTC</timestamp>
</template>
